/* #28282B #7D7098 #E6E6FA*/

body{
    font-family:'Space Grotesk';
    background-color: #28282B;
}

.text{
    color: #E6E6FA;
}
#title{
    font-size: 500%;
}
#lm_text{
    color: #7D7098
}
#navbar_logo{
    filter:drop-shadow(0 0 10px #7D7098);
    height: 90%;
}
#navbar{
    width: 100%;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #0C0E0C;
    /* border: 1px solid #F2F3F4; */
    display: flex;
}
.navbar_option{
    float: right;
    height: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mainPage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#logo{
    filter: drop-shadow(0 0 10px #7D7098);
    margin-left: 10%;
    justify-self: flex-end;
    flex-grow: 1;
}
#vct{
    filter: brightness(0) invert(1);
}

#tag{
    margin-top: -3%;
    align-self: center;
    width: 30vw;
}

#logo_section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 5%;
}

.logo_img{
    filter:brightness(0) invert(1);
    width: 80%;
    height: auto;
    object-fit: contain;
}

#loadingScreen{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #28282B;
    display: flex;
    align-items: center;
    justify-content: center;
}
